@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Style for the Calendar component container */
.calendar-container {
    width: calc(100% - 100px);
    margin-top: 40px;
    margin-left: 90px;
    position: fixed;
}

 /* For the home/calendar */
 .home-click,
 .calendar-click {
   color: black;
   font-size: 15px;
   margin-top: 5px;
   position: fixed;
   text-decoration: none;
 }
 
 .home-click:active,
 .calendar-click:active {
   color: #417fd5; 
 }
 
 .calendar-click {
   margin-left: 69px;
 }
 
 .slash {
   margin-top: -11px;
   margin-left: 50px;
   font-size: 10px;
   position: fixed;
 }

/* Style for the custom calendar */
.custom-calendar {
    width: 350px; 
    max-width: 100%; 
    height: 350px;
    border: 2px solid #0A2448;
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;    
    font-family: 'Poppins', sans-serif;
}

.react-calendar {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Date now */
.react-calendar__tile {
    padding: 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
}

.react-calendar__tile:hover {
    background-color: #ffeaea;
}

.react-calendar__tile--active {
    background-color: #007bff;
    color: white;
    border-radius: 100%;
    transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.react-calendar__tile--now {
    background-color: #ff4141;
    color: white;
    transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

/* Date click */
.react-calendar__tile--range {
    background-color: #007bff;
    color: white;
    border-radius: 50%; 
    transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: underline;
}

/* For the navigation label */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
    margin-top: 2px;
    background-color: #acd4ff;
}

.react-calendar__navigation__label {
    font-size: 20px; 
    font-weight: bold;
    color: #2d2939; 
    font-family: 'Poppins', sans-serif;
}

/* For the arrows of prev and next button */
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
    font-size: 20px; 
    color: #2d2939; 
    font-family: 'Poppins', sans-serif;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    font-size: 20px; 
    color: #2d2939; 
    font-family: 'Poppins', sans-serif;
}

