.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 280px;
  background-image: url('../../public/logo/blue.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

/* Style for the "Bus Passenger Counting" section */
.bus-counting {
  margin-top: 65px;
  margin-bottom: 30px; 
  margin-left: 20px;
  margin-right: 20px;
}

.bus-counting p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #010B19;
  font-family: Arial, Helvetica, sans-serif;
}

  /* Style for the list items (links) inside the sidebar */
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style for each list item (link) */
  .sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  /* Style for the icons */
  .sidebar i {
    font-size: 20px; /* Adjust the icon size as needed */
    margin-left: 30px;
    margin-top: 3px;
  }
  
  /* Style for the links inside the list items */
  .sidebar a {
    display: block;
    text-decoration: none;
    color: #010b19;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 545;
    font-size: 17px;
  }
  
  /* Links on mouse-over */
.sidebar li:hover:not(.active),
.sidebar a:hover:not(.active) {
  background-color: #3B5F9B;
  color: #deecff;
}

/* Style for the icons and links inside the list items */
.sidebar li:hover:not(.active) i,
.sidebar li:hover:not(.active) a {
  background-color: #3B5F9B;
  color: #deecff;
}


  /* Add specific styles for each link */
  /* .dashboard-link {
  }
  
  .calendar-link {
  }
  
  .performance-link {
  } */
    